/*
* @Author: hanjiyun
* @Date:   2014-07-05 16:16:25
* @Last Modified by:   Jiyun
* @Last Modified time: 2015-06-15 20:29:05
*/

@charset "utf-8";

@import "compass";
@import "compass/reset";
@import "compass/css3";

@import "mixins/media-queries";
@import "mixins/retina";

@import "mixins/input";
@import "mixins/button";

$font-base: "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;

$path1x: "icons/1x/";
$path2x: "icons/2x/";
$icons: sprite-map("#{$path1x}*.png", $spacing: 10px);
$icons-2x: sprite-map("#{$path2x}*.png", $spacing: 10px);

$green: #359f47;
$cyanine: #4CC9B6;
$yellow: #FFC145;
$red: #FE7472;

img {
    max-width: 100%;
}


body {
    position: relative;
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    /* background: #f7f7f7 url(http://userserve-ak.last.fm/serve/_/55593807/Daft+Punk+Tron+Premiere.jpg) center center no-repeat;
    background-size: cover; */

    background: #fff;
    font-family: $font-base;
    font-size: 14px;
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.8);
}


html,
body {
    height: 100%;
}

a {
    color: #009fda;
    text-decoration: none;
}

a:hover {
    color: #00b2f3;
}

img {
    display: block;
}

#wrap {
    @include translate3d(-50%, -50%, 0);

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px auto 0 auto;
    text-align: left;

    h1 {
        font-size: 48px;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
    }

    input {
        width: 300px;
        font-size: inherit;
    }

    .button a {
        font-size: 1.5em;
    }
}