extends layout

block content

    include templates/header

    #main

        h1 Hello Admin!


block javascript
    script.
        $(function () {
            console.log('hello world!');
        });


