extends layout

block content
    #wrap
        h1 Music Weekly

        if !everyauth.loggedIn
            a(href='/auth/douban') 用豆瓣账号登录
        else if everyauth.douban
            - var user = everyauth.douban.user

            //- p.description= JSON.stringify(sess)
            //- p.description= user.uid
            p#name= user.name
            //- p.description= user.created
            //- img(src='#{ user.avatar }')
            .ui.input.massive.action
                input(type='text', placeholder='输入你的 Last.fm 用户名', value="axlyoung") 
                .ui.button.green
                    a#lastfm(href='javascript:void(0);') 查询
            #content
                ul#artist-list
                .ui.button.green
                    a#doubanshuo(href='javascript:void(0);') 发布到豆瓣

block javascript
    script(src='/src/javascripts/libs/albumcolors.js')
    script(src='/src/javascripts/app.js')
